.card {
  background-color: var(--contentBackground);
  border: 1px solid var(--border);
  box-shadow: 3px 3px 3px rgb(0, 0, 0, 0.1);
  padding: 0;
  transition: all 0.3s;
  width: 150px;
}

.card:hover {
  box-shadow: 3px 3px 3px rgb(0, 0, 0, 0.3);
}

.card h3 {
  margin-top: 0;
  margin-bottom: 16px;
  color: var(--link);
  font-weight: bold;
}

.cardImage {
  width: 150px;
  height: 120px;
  object-fit: cover;
  margin-bottom: 0.5rem;
}

.cardContent {
  padding: 0 0.5rem;
}

.cardContent a {
  text-decoration: none;
}
