@import url("https://fonts.googleapis.com/css?family=Open+Sans:regular,bold,italic&subset=latin,latin-ext");

:root {
  --white: #fefefe;
  --black: #111;
  --grey: #cdcdcd;

  --primary: #003b73;
  --primary500: #002b54;
  --primary400: var(--primary);
  --primary300: #0068c8;
  --primary200: #73b8fd;
  --primary100: #d0e7fe;
  --primary50: #f5faff;

  --secondary: #5f9ce3;
  --secondary500: #013c33;
  --secondary400: var(--secondary);
  --secondary300: #30b39f;
  --secondary200: #5cc2b4;
  --secondary100: #d1eee9;
  --secondary50: #e9fbf8;


  --spacing: 1rem;

  --link: var(--primary);
  --navBackground: var(--white);
  --navBackgroundBorder: none;
  --navText: var(--black);
  --contentBackground: #fefefe;
  --defaultFont: "Open Sans";
  --border: var(--grey);
  --buttonBackground: var(--primary);
  --buttonBorder: var(--primary500);
  --buttonText: var(--white);
  --buttonHoverBackground: var(--primary300);
}

html,
body {
  max-width: 100vw;
  font-size: 16px;
  /* font-family: verdana, arial, sans-serif, helvetica; */
}

body:before {
  content: "";
  position:fixed;
  width:200%;
  height:200%;
  top: -50%;
  left: -50%;
  z-index: -1;
  background-color: #e3e3e3;
}

body:after {
  content: "";
  position: fixed;
  width:200%;
  height:200%;
  top: -50%;
  left: -50%;
  z-index: -1;
  background-image: url("/logo.svg");
  background-repeat: space;
  transform: rotate(-30deg);
  opacity: 0.2;
}

.container {
  width: 810px;
  max-width: 100%;
  margin: 0 auto 10px;
  font-family: var(--defaultFont);
}

main {
  background-color: white;
  padding: 1rem;
  min-height: 300px;
}

footer {
  text-align: center;
  font-size: 0.8rem;
}

footer ul {
  list-style: none;
  display: flex;
  justify-content: center;
}
footer li {
  padding: 0.1rem;
}

a {
  color: var(--primary);
  text-decoration: underline;
  transition: all 0.3s;
}
a:hover {
  color: var(--primary300);
}

button {
  background: var(--buttonBackground);
  border: 1px solid var(--buttonBorder);
  border-radius: 3px;
  color: var(--buttonText);
  cursor: pointer;
  padding: 8px;
  transition: all 0.3s;
}

button:hover {
  background: var(--buttonHoverBackground);
}

label, textarea, input {
  display: block;
  margin-bottom: 0.5rem;
  width: auto;
}

textarea, input {
  border: 1px solid var(--border);
  border-radius: 3px;
  padding: 8px;
  transition: all 0.3s;
  margin-bottom: var(--spacing);
}

label {
  font-size: 14px;
}

textarea:focus, input:focus, textarea:focus-visible, input:focus-visible {
  border-color: #000;
  box-shadow: inset 0px 0px 7px var(--border);
  outline: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}