.nav {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  background-color: var(--navBackground);
  border-bottom: 1px solid var(--navBackgroundBorder);
  height: 70px;
  justify-content: space-between;
  position:relative;
  align-items: center;
}

.links {
  list-style: none;
  display: flex;
  margin-right: 1rem;
}

.links li {
  height: 70px;
  display: flex;
  align-items: center;
  padding: 0.25rem;
}

.links li a {
  color: var(--navText);
  text-decoration: none;
  transition: all 0.3s;
}

.links li a:hover {
  color: var(--primary);
}

.links li a img {
  border: 1px solid var(--primary500);
}
